@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
}

html, body {
  background-color:black;
}

main {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/08800aef-a1c3-4ac3-be7e-032bd085f169/d4f7xkv-6294abc9-f372-4550-9164-f198b6365ed0.png/v1/fill/w_1131,h_707,q_70,strp/blue_space_by_darkdissolution_d4f7xkv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMjAwIiwicGF0aCI6IlwvZlwvMDg4MDBhZWYtYTFjMy00YWMzLWJlN2UtMDMyYmQwODVmMTY5XC9kNGY3eGt2LTYyOTRhYmM5LWYzNzItNDU1MC05MTY0LWYxOThiNjM2NWVkMC5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Ss-6n9pb6rRxrF7U7_A5o-Zo826jnK_-PzQjLZB8D8c");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  transition: all 250ms ease-out;
}

h1 {
  display: block;
  text-align: left;
}

h4 {
  margin: 0;
}

ul {
  list-style-type: cjk-ideographic;
  font-size: 16px;
  font-weight: 600;
  color: #27dafd;
}

header.header {
  margin-bottom: 40px; 
  background: transparent; 
}

.header-container {
  width: 80vw; 
  margin-top: 15px;
}

.total-contact-container, .projects-tab-container {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}


.nav-bar, .projects-nav, .contact-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: stretch;
  border: 1px solid;
  width: 100%;
}

.nav-item, .project-item, .link {
  margin: 0;
  width:100%;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

.data-block-container {
  margin-bottom: 20px;
}

.data-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.bio-data {
  color: #f8f8ff;
  font-size: 18px;
  font-weight: 100;
}

.answer {
  color: #27dafd;
  font-weight: 500;
  font-size: 20px;
  margin-left: 6px;
}

.bio-page-container  {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:5px;
  margin-top:35px;
}

.total-project-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding:5px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.project-image-container, .download-resume {
  margin-top: 15px;
}

img.tech-used, .contact-image {
  display:block;
  width: 45px;
  height: 45px;
  padding: 8px;
  opacity: 1;
  margin: 2px;
  position: relative;
  transition: all 250ms ease-in-out;

}

.link:hover {
  background-color: #27dafd;
  color: #010506;
}

img.contact-image {
  width: 60px;
  height: 60px;
}

.project-link-container, .techs {
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
}

.techs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 80%;
  margin-bottom: 20px;
}

.project-info, .bio-info, .contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

div.contact-info {
  width: 70%;
}

.project-links, .separator {
  font-size: 16px;
}

.separator {
  margin-left: 8px;
  margin-right: 8px;
}

img.primary-img, img.resume-image {
  max-height: 330px;
  max-width: 330px;
  display: block;
  padding:10px;
  position: relative;
  z-index: 0
}

.info-and-image, .project-tab, .contact-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.resume-and-email {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

input, textarea {
  background-color: #05181d;
  color: #27dafd;
  box-shadow: 1px 1px #f8f8ff;
  margin: 0px 0px 20px 0px;
  width: 100%;
}

.label {
  color: #f8f8ff;
  font-size: 18px;
  margin-bottom: 10px;
}

.email-me {
  transition: all 250ms ease-in-out;
  /* display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#submit {
  width: 100%;
  text-align: center;
}

button {
  width:100%
}

#submit:hover, .download-resume:hover {
  opacity: 0.6;
  cursor: pointer;
}

.puffs {
  width: 100%;
  height: 100vh;
}

p {
  margin: 1px;
}

.tech-label {
  color: #f8f8ff;
  margin-right: 12px;
  font-size: 16px
}

a, a::before, a::after {
  text-decoration: none;
  color: #f8f8ff;
}

a.link {
  color: #27dafd;
}

.soc-med-image {
  max-height: 50px;
  max-width: 50px;
  margin-top: 8px;
  display:none;
}

.contact-form, .resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fuzzy-background {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.gifer.com/757a.gif");
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.email-success, .email-failed {
  display: none;
  font-size: 14px;
  margin-top: 10px;
}

/* media query - phones */
@media (max-width: 460px) {
  .contact-nav {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.gifer.com/757a.gif");
  }
  
  .link {
    display:none;
  }
  
  .soc-med-image {
    display:inline-flex;
  }
} 